a:link {
  color: red;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: White;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: powderblue;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a{

text-align: center;

display: block;

}
h2{
   text-align: center;

display: block; 
}
li{
   text-align: center;

display: block; 
}
